@if(this.authService.currentUserSig() != null) { @if(this.estaActivo){
    <div class="card text-center cardContainer">
      <div class="card-header">
        CHAT
        <img
          class="imgClose"
          src="assets/close.png"
          alt=""
          (click)="cambiarEstado()"
        />
      </div>


      <div class="card-body" id="contenedorDeMensajes">
          <p
            *ngFor="let message of messages"
            class="chat"
            [ngClass]="this.authService.currentUserSig()?.username === message.userName? 'enviado': 'recibido'"
          >
            <span id="userNameSpan">{{message.userName}}</span>
            <br>
            {{ message.text }}
            <br>
            <span> {{ message.date }} </span>
          </p>
      </div>
      <div class="card-footer text-body-muted contenedorFooter">
        <form [formGroup]="form" (ngSubmit)="enviarMensaje()">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Escribe aqui" formControlName="mensaje"/>
            <button class="input-group-text" id="basic-addon2">
              <img src="assets/send.png" class="imgSend icon-telegram" alt="Send"/>
            </button>
          </div>
        </form>
      </div>
    </div>

    } @else {
      <div class="container-chat-img" (click)="cambiarEstado()">
        <img
        class="iconoChat"
        src="assets/chat.png"
        alt=""
        />
      </div>
    } }
