<div class="about-me-container">
    <div class="about-me-image">
        <img src="assets/aboutme.jpeg" width="300" height="500">
      </div>
    <div class="about-me-right">
      <h2>Explicación del Juego</h2>
      <p>Mi juego es el clásico DuckHunt. Consiste en usar el mouse para 
        disparar a las distintas aves que aparecen en pantalla. 
        Si pasas el nivel 3 ganas. Tienes un minuto y sino lo consigues tendras que empezar de cero. ¡Diviértete!</p>
    </div>
    <div class="about-me-left">
        <h2>Mis Datos</h2>
        <ul>
          <li>Nombre: Facundo</li>
          <li>Apellido: Aranda</li>
          <li>Legajo: 112377</li>
        </ul>
      </div>
  </div>
  