<div class="background">
  <div class="container">
      <h1 class="text-primary">Mayor o Menor</h1>
      <div class="carta">
        <img [src]="obtenerRutaImagen(cartaSiguiente)" alt="{{ cartaSiguiente?.numero }} de {{ cartaSiguiente?.palo }}">
        <!--<img src='../../../../assets/mayormenor/reverso.png' alt="{{ cartaActual?.numero }} de {{ cartaActual?.palo }}">-->
      </div>
      <!--
      <div class="score-container">
        <div class="score">Score: {{puntaje}}</div>
        <button class="score-button" (click)="guardarPuntaje()">Guardar Puntaje</button>
      </div>
      -->
      <div *ngIf="resultado !== 'Incorrecto' && puntaje < 5" class="pepe" >
        <h2 class="text-maymen">¿La siguiente carta será menor(<), igual(=) o mayor(>)?</h2>
        <button class="btn btn-warning" (click)="verificarAdivinanza('MENOR')"><</button>
        <button class="btn btn-warning" (click)="verificarAdivinanza('IGUAL')">=</button>
        <button class="btn btn-warning" (click)="verificarAdivinanza('MAYOR')">></button>
      </div>
      <div *ngIf="puntaje == 5" class="col-12 reset">
        <button (click)="empezarNuevoJuego()" class="btn btn-warning">Jugar de nuevo</button>
      </div>
      <div *ngIf="resultado === 'Incorrecto'" class="pepe" >
        <div class="col-12 reset">
          <button (click)="empezarNuevoJuego()" class="btn btn-warning">Jugar de nuevo</button>
        </div>
      </div>
      <div *ngIf="resultado !== ''">
        <h2 *ngIf="resultado === 'Incorrecto'" style="color: #fe655c;">Resultado: {{ resultado }}</h2>
        <h2 *ngIf="resultado === 'Correcto'" style="color: green;">Resultado: {{ resultado }}</h2>
      </div>
      <div>
        <h3><span>Puntaje: {{puntaje}}</span> <span style="margin-left: 20px;">Objetivo: 5</span></h3>
      </div>
  </div>
</div>
