.header-a {
    background-color: rgb(136, 28, 28);
    color: white;
    position: absolute;
    width: 100%;
  }
  
  .header-buttons {
    padding: 10px;
     display: flex;
     align-items: center;
  
  }
  
  .header-button {
    margin-left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }

  .spacer {
    flex-grow: 1;
  }