<div class="header-a">
  <div class="header-buttons">
    @if(this.authService.currentUserSig() == null)
    {
      <div class="spacer"></div>
      <button routerLink="aboutme" class="btn btn-dark m-1 header-button">Quien soy</button>
      <button routerLink="login" class="btn btn-dark m-1 header-button">Login</button>
      <button routerLink="registro" class="btn btn-dark m-1 header-button">Registro</button>
    }
    @if(this.authService.currentUserSig())
    {
      <button routerLink="home" class="btn btn-dark m-1 header-button">Home</button>
      <div class="spacer"></div>
      <button routerLink="aboutme" class="btn btn-dark m-1 header-button">Quien soy</button>
      <button (click)="logout()" routerLink="login" class="btn btn-dark m-1 header-button">Salir</button>
    }
  </div>
</div> 


<router-outlet/>

<app-chat></app-chat>

