* {
    padding: 0px;
    margin: 0px;
}
header {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    box-shadow: 5px 5px 10px rgb(0,0,0,0.3);
}
h1 {
    height: 15vh;
    font-family: 'system-ui';
    text-transform: uppercase;
    text-align: center;
}
h3
{
    color: #f8d7da;
}
.container-a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100% !important;
    background: url(https://assets.nintendo.com/image/upload/ar_16:9,b_auto:border,c_lpad/b_white/f_auto/q_auto/dpr_1.5/c_scale,w_800/ncom/software/switch/70070000013765/01e3c858023ec84405cafda54e8995f8d0cbc89dc97bb20008bb57ea06ef7e97) no-repeat center center;
    background-size: cover;
}
.form_class {
    width: 500px;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    font-family: 'system-ui';
    box-shadow: 5px 5px 10px rgb(0,0,0,0.3);
    margin-top: 50px;
}
.form_div {
    text-transform: uppercase;
}
.form_div > label {
    letter-spacing: 3px;
    font-size: 1rem;
}
.info_div {
    text-align: center;
    margin-top: 20px;
}
.info_div {
    letter-spacing: 1px;
}
.field_class {
    width: 100%;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    padding: 5px 0px;
    text-indent: 6px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'system-ui';
    font-size: 0.9rem;
    letter-spacing: 2px;
}
.submit_class {
    border-style: none;
    border-radius: 5px;
    background-color: #FFE6D4;
    padding: 8px 20px;
    font-family: 'system-ui';
    text-transform: uppercase;
    letter-spacing: .8px;
    display: block;
    margin: auto;
    margin-top: 10px;
    box-shadow: 2px 2px 5px rgb(0,0,0,0.2);
    cursor: pointer;
}
.btn_default {
    margin: 10px 0;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}
.error-message {
    background-color: #f8d7da; /* Color de fondo rojo claro */
    color: #721c24; /* Color del texto rojo oscuro */
    padding: 5px; /* Espaciado interno */
    border: 1px solid #f5c6cb; /* Borde rojo claro */
    border-radius: 5px; /* Bordes redondeados */
    margin-top: 10px;
}